name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    container:
      image: swift:6.0
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Swift Version
      run: swift --version
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
      
  docc:
    name: Documentation
    needs: [linux]
    runs-on: macos-14
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Swift
        uses: swift-actions/setup-swift@v1
        with:
          swift-version: "6.0"
      - name: Swift Version
        run: swift --version
      
      - name: Generate Documentation
        uses: fwcd/swift-docc-action@v1
        with:
          target: CSV
          output: ./docs
          hosting-base-path: csv
          disable-indexing: true
          transform-for-static-hosting: true
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages
